<h1>Stats will be here</h1>

<table class="table">
  <thead>
    <th>Player</th>
    <th>Points</th>
  </thead>

<% @Leaders.each do |leader| %>
  <tbody>
    <td><%= leader.display_name %></td>
    <td><%= leader.value %></td>
  </tbody>
<% end %>
</table>

<div class="dropdown">
<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
  Dropdown
  <span class="caret"></span>
</button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <% @Teams.each do |team| %>
    <li><%= team.full_name %></li>
    <% end %>
  </ul>
</div>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <% @Rosters.each do |roster| %>
      <li><%= roster.display_name %></li>
      <% end %>
    </ul>
</div>

<p>speed<%= @my_speed %></p>
<p>touches<%= @my_touches%></p>

<table class="table">

<tbody>
  <td><%= @my_speed %></td>
  <td><%= @my_touches%></td>
  <td><%= @my_pass%></td>
  <td><%= @my_assist%></td>
</tbody>
</table>
